/*
* @Author: joesn
* @Date:   2017-12-19 14:51:09
* @Last Modified by:   joesn
* @Last Modified time: 2018-01-07 20:48:41
*/


/*common*/

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.j-full-body {
    height: 100%;
}

.j-cancel {
    padding: 0px;
    margin: 0px;
}


/*顶部搜索框*/

.nav {
    width: 100%;
    height: 55px;
    z-index: 10;
    margin-bottom: 5px;
    box-shadow: 0px 5px rgba(119, 136, 153, 1);
    background: rgba(0, 191, 255, 1);
}

.nav ul {
    list-style: none;
}

.nav ul li {
    float: left;
    text-align: center;
    width: 100px;
    line-height: 55px;
    color: #ffffff;
}

.nav ul ol {
    float: left;
    text-align: center;
    width: 100px;
    line-height: 55px;
    color: #ffffff;
}

.nav ul li:hover {
    border-bottom: solid 5px #ff9d00;
}

.nav ul li:hover .nav ul li:nth-child(5) {
    border-bottom: none;
}

.j-soso-box {
    width: 200px; // background: rgb(119, 136, 153);
}

.j-soso {
    height: 30px;
    border: 0px;
    padding-left: 10px;
    border-radius: 5px;
    background: rgba(119, 136, 153, 0.5);
}

.j-soso:focus {
    border: 0px;
    outline: none;
}

.j-soso-box i {
    margin-left: -20px;
    color: rgba(119, 136, 153, 1)
}

.j-login-box {
    padding-left: 5%;
}

.j-login-box span {
    float: left;
    display: block;
    height: 55px;
    line-height: 55px;
    margin-left: 10px;
}

.j-user-top {
    width: 45px;
    height: 45px;
    margin: 5px 0px;
    background: #000000;
    right: 0px;
    float: left;
    border-radius: 22px;
    display: block;
    background: url(image/User1.jpeg) no-repeat;
    background-size: 100% 100%;
}


/*左区菜单*/

.j-menu {
    height: 100%;
    padding: 0px;
    background: #233c50;
    /*box-shadow: 5px 1px 2px rgba(119,136,153,1);*/
}

.j-menu>li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    padding-left: 20px;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
}

.j-menu>li a {
    display: block;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding-left: 20px;
    margin-left: -20px;
}

.j-menu>li>a:hover {
    text-decoration: none;
}

.j-menu>li>ol {
    list-style: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    height: 50px;
    margin-left: -20px;
    line-height: 50px;
}

.j-menu>li:hover {
    background: rgba(0, 0, 0, 0.7);
}

.menu-click {
    background: rgba(0, 0, 0, 0.7);
}

.active {
    background: rgba(0, 0, 0, 0.7);
}

.j-user-menu>li:before {
    width: 5px;
    height: 40px;
    margin: 5px -5px;
    background: #FFA500;
}

.j-user-info {
    width: 100%;
    height: 20%;
}

.child-active {
    background:#386283;
}