/*
* @Author: joesn
* @Date:   2017-12-18 21:32:28
* @Last Modified by:   joesn
* @Last Modified time: 2017-12-18 21:57:54
*/
html,body{
		margin: 0px;
		padding:0px;
		height: 100%;
		width: 100%;
	}

	.article-list{
		height: 100%;
		border-right: solid 1px #555555;
		padding: 0px;
	}
	.article-add{
		width: 100%;
		display: block;
		height: 60px;
		line-height: 60px;
		/*text-align: center;*/
		padding-left: 40px;
		font-size: 14px;
		color: rgb(85, 85, 85);
		border-bottom: solid 1px rgb(220, 220, 220);
		list-style: none;
		text-decoration: none;
	}
	.article-add:hover{
		color: #000000;
	}
	.article-list-ul{
		width: 100%;
		padding: 0px;
	}
	.article-list-ul li{
		overflow: hidden;
		height: 80px;
		line-height: 80px;
		/*text-align: center;*/
		font-size: 14px;
		color: rgb(85, 85, 85);
		border-bottom: solid 1px rgb(220, 220, 220);
		list-style: none;
		cursor: pointer;
	}
	.article-list-ul li:hover{
		color: #000000;
		background: #ececec;
	}
	.article-list-ul li i{
		margin-left: 40px;
		
	}
	.article-list-ul li span{
		overflow-y: hidden;
	}
	.article-active{
		color: #000000 !important;
		background: #ececec;
	}
	.article-active:before{
		display: block;
		content: "";
		height: 80px;
		width: 5px;
		position: absolute;
		background-color: rgb(0, 152, 247);
	}
	.j-right{
		position: absolute;
		right: 20px;
		margin: auto 0px;
		height: 40px;
		text-align: text;
	}
	.j-right a{
		height: 20px;
		line-height: 80px;
	}
	.dropdown-menu li{
		height: 20px;
		line-height: 20px;
		border: none;
	}
	.article{
		height: 100%;
		padding: 0px;
	}